.swiper {
  &-container {
    &.ml-offset {
      @include media-breakpoint-down(sm) {
        margin-left: -3rem;
        margin-right: -3rem;
      }
    }
  }

  &-wrapper {
  }

  &-slide {
    .swiper-lazy {
      transition: all 450ms cubic-bezier(0.075, 0.82, 0.165, 1);

      &.swiper-lazy-loaded {
        @extend .fadeIn;
      }

      &:not(.swiper-lazy-loaded) {
        filter: blur(3px);
      }
    }
  }
}

#daysSlider,
#timelineBlock {
  padding: 1rem;
  background-color: $colors--white;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba($colors--black, 0.125);

  @include media-breakpoint-down(sm) {
    margin-right: -3rem;
  }

  .swiper-slide {
    position: relative;

    text-align: center;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    font-size: 1.6rem;
    color: $colors--black;
    transition: background-color $duration;
    border-radius: 1rem;

    &:not(.swiper-slide-active) {
      span {
        opacity: 0.35;
      }
    }

    span {
      font-size: 1rem;
    }

    &.today {
      &:after {
        content: '';
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 5px;
        border-radius: 50%;
        height: 5px;
        background-color: $colors--black;
      }
    }

    &-active {
      background-color: darken($colors--white, 12.5%);
      box-shadow: 0 0 10px 0 rgba($colors--black, 0.125);
    }
  }
}
