#mainSlider {
  @include media-breakpoint-down(sm) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.is-shown {
    padding: 0;

    &.swiper-container {
      overflow: auto;
      transition: all 1s ease;
      z-index: 999;

      .swiper-slide-active {
        padding: 0;
        height: 100vh;

        figure {
          height: 100vh;
        }
      }
    }
  }

  .swiper-slide {
    position: relative;
    padding: 5px;

    &.is-past {
      opacity: 0.85;
      filter: grayscale(100%);
    }

    figure {
      position: relative;
      overflow: hidden;
      z-index: 3;

      border-radius: 0.5rem;
      box-shadow: 0 2px 10px 0 rgba($colors--black, 0.5);
      transition: all 500s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($colors--black, 0.125);
        z-index: 4;
      }
    }

    figcaption {
      position: absolute;
      top: 5px + 15px;
      left: 5px + 15px;
      right: 0;
      bottom: 5px + 15px;
      z-index: 10;

      display: flex;
      flex-direction: column;

      padding-top: 1rem;
      min-height: 7.4rem;
      transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) !important;

      .location {
        display: inline-block;
        padding: 2px 5px;
        border-radius: 0.25rem;
        background-color: $colors--white;
        color: $colors--black;
        font-weight: 600;
      }

      .list {
        display: inline-block;
        padding: 2px 5px;
        font-size: 1rem !important;
        border-radius: 0.25rem;
        background-color: $colors--black;
        font-weight: 600;
      }

      .title {
        max-width: 25%;
        font-size: 2.4rem;
        font-weight: 600;
        letter-spacing: 2.4rem * 0.025;
        color: inherit;

        .list {
          position: absolute;
          top: 1.5rem;
          right: 2rem;
          background-color: rgba($colors--black, 0.675);
        }
      }
    }
  }
}

.main-block {
  position: relative;
  padding-top: 3rem;
}
