.header {
  @include media-breakpoint-down(sm) {
    .navbar {
      padding: 3rem 2rem;

      &-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      &-toggler {
        padding: 0;

        .hamburger {
          position: relative;
          width: 1.8rem;

          > * {
            border-top: 2px solid;
            border-radius: 20%;

            &:nth-child(2) {
              width: 75%;
            }

            + * {
              margin-top: 4px;
            }
          }
        }
      }
    }

    .fixed-menu {
      $pdAmount: 1.4rem;

      position: fixed;
      bottom: $pdAmount;
      left: $pdAmount;
      right: $pdAmount;
      padding: 1rem 2rem;
      border-radius: 4rem;
      overflow: hidden;
      z-index: 4;
      background-color: rgba($colors--white, 0.25);
      -webkit-backdrop-filter: blur(3px);

      .list {
        display: flex;
        flex-wrap: nowrap;

        > * {
          position: relative;
          width: calc(100% / 4);
          min-height: 1px;
          text-align: center;
        }

        &-item {
          font-size: 1.125rem;

          &:not(.is-active) {
            color: rgba($colors--white, 0.5);
          }
        }

        &-link {
          display: block;
          color: inherit !important;
        }
      }
    }
  }
}
