.header {
  ul {
    display: flex;
    flex-flow: nowrap;

    > * {
      position: relative;
      min-height: 1px;
      flex-basis: 0;
      flex-grow: 1;
      width: auto;
      max-width: 100%;
      color: $colors--white;
      text-align: center;
      padding: 1rem;

      img {
        height: 24px;

        @include media-breakpoint-up(md) {
          display: none;
        }
      }

      span {
        position: relative;
        font-size: 1.125rem;

        @include media-breakpoint-up(md) {
          font-size: 1.4rem;
          letter-spacing: 1.4rem * 0.05;
        }
      }

      &.active {
        width: auto;
        flex: 0 0 auto;

        span {
          position: relative;

          opacity: 1;
          transition: all 650ms cubic-bezier(0.165, 0.84, 0.44, 1);
        }
      }
    }

    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit !important;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .navbar {
      padding: 0;

      &-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      &-toggler {
        padding: 0;

        .hamburger {
          position: relative;
          width: 1.8rem;

          > * {
            border-top: 2px solid;
            border-radius: 20%;

            &:nth-child(2) {
              width: 75%;
            }

            &:nth-child(3) {
              width: 50%;
            }

            + * {
              margin-top: 4px;
            }
          }
        }
      }
    }

    .fixed-menu {
      position: fixed;
      left: 3rem;
      right: 3rem;
      border-radius: 1.5rem;
      padding: 1rem;
      background-color: $colors--white;
      backdrop-filter: blur(3px);

      bottom: 3rem;
      z-index: 99;

      @keyframes active {
        from {
          width: 0px;
        }
      }

      ul {
        display: flex;
        flex-flow: nowrap;
        justify-content: space-around;

        > * {
          position: relative;
          min-height: 1px;
          flex-basis: 0;
          flex-grow: 1;
          width: auto;
          max-width: 100%;
          color: $colors--black;
          text-align: center;
          padding: 1rem;
          border-radius: 1.5rem;

          img {
            height: 24px;
          }

          span {
            position: absolute;
            font-size: 1.125rem;
            opacity: 0;
            white-space: nowrap;
          }

          &.active {
            width: auto;
            flex: 0 0 auto;
            background-color: darken($colors--white, 10%);

            span {
              position: relative;

              opacity: 1;
              transition: all 650ms cubic-bezier(0.165, 0.84, 0.44, 1);

              margin-left: 1rem;
            }
          }
        }

        li {
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: inherit !important;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    + * {
      padding-top: 5vw;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.backdrop-filter {
  position: fixed;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;

  @include media-breakpoint-down(sm) {
    filter: blur(12.5px);
  }

  @include media-breakpoint-up(md) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($colors--black, 0.5);
      z-index: 1;
    }
  }

  &.fadeIn {
    animation: fadeIn 1s ease 0s;
    opacity: 1;
  }
}
