html {
  font-size: 62.5%;

  &[data-theme='dark'] {
    body {
      background-color: color(dark, bg);
      color: color(dark, primary);
    }
  }

  &[data-theme='light'] {
    body {
      background-color: color(light, bg);
      color: color(light, primary);
    }
  }
}

body {
  font-size: 1rem;

  main {
    transition: all 750ms;

    @include media-breakpoint-up(md) {
      margin-top: 12vh;
    }
  }

  &.is-loading {
    main {
      opacity: 0;
      transform: translateY(50%);
    }
  }

  .container {
    @include media-breakpoint-down(sm) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @include media-breakpoint-up(md) {
      max-width: 93vw;
    }

    @include media-breakpoint-up(xl) {
      max-width: calc(90vw - 30px);
    }
  }
}

%mb-0 {
  margin-bottom: 0;
}

figure {
  @extend %mb-0;
}

ul {
  &:not(.standart) {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
}

@for $i from 1 to 7 {
  h#{$i} {
    @extend %mb-0;
    font-weight: 700;
  }
}
