[data-theme='dark'] {
  .timeline-list {
    &-item {
      &:not(.is-active) {
        color: color(dark, secondary);
      }

      &.is-active {
        color: color(dark, primary);
      }
    }
  }
}

.timeline-list {
  display: flex;
  flex-wrap: wrap;

  > * {
    position: relative;
    min-height: 1px;
    width: 100%;
    max-width: 100%;

    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  &-item {
    $fs: 1.1875rem;

    font-size: $fs;
    letter-spacing: $fs * 0.025;
    text-align: center;

    @include media-breakpoint-down(sm) {
      flex-basis: 0;
      flex-grow: 1;
      width: auto;
      max-width: 100%;
    }
  }

  &-link {
    color: inherit !important;
  }
}
